---
import Layout from '../../layouts/Layout.astro';
import Calculator from '../../tools/calculator/components/Calculator.astro';

const lang = 'en';
---

<Layout title="Calculator">
  <main>
    <Calculator />
  </main>
</Layout>
