---
import Layout from '../../layouts/Layout.astro';
import Converter from '../../tools/converter/components/Converter.astro';

const lang = 'en';
---

<Layout title="Unit Converter">
 <main>
   <Converter />
 </main>
</Layout>
